################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StealthAssessment
/packages
/StealthAssessment/bin/Debug
/StealthAssessment/obj/Debug
/_.git
/StealthAssessment.7z
/.vs/Supercharger/StealthAssessment
/.vs/Supercharger/StealthAssessmentWizard
/StealthAssessmentWizard/bin/Debug
/StealthAssessmentWizard/obj/Debug
/StealthAssessmentWizard/ConfigFiles/a.xlsx
/StealthAssessmentWizard/ConfigFiles/ex.xlsx
/StealthAssessmentWizard/ConfigFiles/rcodeTest.R
/StealthAssessmentWizard/ConfigFiles/ppcor.R
/StealthAssessmentWizard/ConfigFiles/mlstats.R
/.vs/Supercharger/ArffTools
/.vs/Supercharger/DropDownControls
/Assemblies
/Kostas
/StealthAssessmentWizard/ConfigFiles/_GameLogsFM.xlsx
/.vs/Smart-CAT/v15
/ArffTools/ArffTools.Tests
/Smart-CAT/bin/Debug
*.xlsx
/Smart-CAT/ConfigFiles
/Smart-CAT/obj/Debug
*.user
/.vs/Smart-CAT/DesignTimeBuild
*.rar
